<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml" lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="/assets/img/efo-favicon.png"/>
    <!--<link rel="stylesheet" href="/assets/css/foundation.min.css">-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/nav.css"/>
    <link rel="stylesheet" href="/assets/css/glyphicons.css">
    <link rel="stylesheet" href="/assets/css/pretty-checkbox.min.css"/>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/jquery-3.3.1.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/nav.js"></script>
    <script src="/assets/js/layer.js"></script>
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/utils.js"></script>
    <!--<script src="/assets/js/jsoneditor.js"></script>-->
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <title>管理员</title>
</head>
<body id="particles-js" style="overflow-x: hidden;">
<div class="jq-nav float-left float-sm-left" style="height: 100%;min-height: 100vh;position: fixed;">
    <div class="jq-nav-top">
        <div id="mini" style="border-bottom:1px solid rgba(255,255,255,0.1)"><img src="/assets/img/mini.png"></div>
    </div>
    <ul>
        <li class="jq-nav-item">
            <a href="#upload-manager"><span class="glyphicon glyphicon-cloud-upload">&nbsp;<b>上传记录</b></span></a>
        </li>
        <li class="jq-nav-item">
            <a href="#download-manager"><span class="glyphicon glyphicon-cloud-download">&nbsp;<b>下载记录</b></span></a>
        </li>
        <li class="jq-nav-item">
            <a href="#file-manager"><span class="glyphicon glyphicon-file">&nbsp;<b>文件管理</b></span></a>
        </li>
        <li class="jq-nav-item">
            <a href="#auth-manager"><span class="glyphicon glyphicon-lock">&nbsp;<b>权限管理</b></span></a>
        </li>
        <li class="jq-nav-item">
            <a href="#category-manager"><span class="glyphicon glyphicon-filter">&nbsp;<b>分类管理</b></span></a>
        </li>
        <li class="jq-nav-item">
            <a href="#user-manager"><span class="glyphicon glyphicon-user">&nbsp;<b>用户管理</b></span></a>
        </li>
        <li class="jq-nav-item">
            <a href="filemanager" target="_blank"><span
                    class="glyphicon glyphicon-folder-close">&nbsp;<b>远程管理</b></span></a>
        </li>
        <li class="jq-nav-item">
            <a href="#system-setting"><span class="glyphicon glyphicon-cog">&nbsp;<b>系统设置</b></span></a>
        </li>
    </ul>
</div>
<br/>
<div id="container">
    <!--上传记录-->
    <div class="row jq-tab" id="upload-manager">
        <file-filter-item></file-filter-item>
        <div class="col-12 col-sm-10 offset-sm-1"><br/></div>
        <div class="col-12 col-sm-10 offset-sm-1 content-box rounded">
            <br/>
            <table class="table table-bordered table-hover table-responsive table-condensed">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>文件路径</th>
                    <th>分类名</th>
                    <th>链接</th>
                    <th>上传时间</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(upload,key) in uploaded">
                    <td>{{key+1}}</td>
                    <td>{{upload.username}}</td>
                    <td>{{upload.email}}</td>
                    <td><a href="javascript:" onclick="alerts($(event.srcElement).attr('data-title'));"
                           v-bind:title="upload.localUrl" data-toggle="tooltip"
                           v-bind:data-title="upload.localUrl">查看</a></td>
                    <td>{{upload.categoryName}}</td>
                    <td><a v-bind:href="upload.visitUrl" target="_blank">访问</a></td>
                    <td>{{new Date(upload.createTime).format('yyyy-MM-dd hh:mm:ss')}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <button class="btn btn-lg btn-link btn-block" onclick="offset+=1;getUploaded();"><b><i
                class="glyphicon glyphicon-arrow-down"></i> 获取更多</b></button>
        <br/>
    </div>
    <!--下载记录-->
    <div class="row jq-tab hide" id="download-manager">
        <file-filter-item></file-filter-item>
        <div class="col-12 col-sm-10 offset-sm-1"><br/></div>
        <div class="col-12 col-sm-10 offset-sm-1 content-box rounded">
            <br/>
            <table class="table table-bordered table-hover table-responsive table-condensed">
                <thead>
                <tr>
                    <th>编号</th>
                    <!--<th>用户编号</th>-->
                    <!--<th>文件编号</th>-->
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>文件名</th>
                    <th>分类</th>
                    <th>链接</th>
                    <th>下载时间</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(download,key) in downloaded">
                    <td>{{key+1}}</td>
                    <!--<td>{{download.userId}}</td>-->
                    <!--<td>{{download.fileId}}</td>-->
                    <td>{{download.username}}</td>
                    <td>{{download.email}}</td>
                    <td>{{download.fileName}}</td>
                    <td>{{download.categoryName}}</td>
                    <td><a v-bind:href="download.visitUrl" target="_blank">访问</a></td>
                    <td>{{new Date(download.createTime).format('yyyy-MM-dd hh:mm:ss')}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <button class="btn btn-lg btn-link btn-block" onclick="offset+=1;getDownloaded();"><b><i
                class="glyphicon glyphicon-arrow-down"></i> 获取更多</b></button>
        <br/>
    </div>
    <!--文件管理-->
    <div class="row jq-tab hide" id="file-manager">
        <file-filter-item></file-filter-item>
        <div class="col-12 col-sm-10 offset-sm-1"><br/></div>
        <div class="col-12 col-sm-10 offset-sm-1 content-box rounded">
            <br/>
            <div class="text-right">
                <button class="btn btn-primary" onclick="showFileShareModal();"><i
                        class="glyphicon glyphicon-share"></i> 共享
                </button>
                <button class="btn btn-success to-upload-button"><i
                        class="glyphicon glyphicon-cloud-upload"></i> 上传
                </button>
                <button class="btn btn-warning" onclick="showFileModal('#file-manager-table','#fileModifiedModal');"><i
                        class="glyphicon glyphicon-wrench"></i> 修改
                </button>
                <button class="btn btn-dark" onclick="showFileModal('#file-manager-table','#fileAuthModal');"><i
                        class="glyphicon glyphicon-eye-close"></i> 权限
                </button>
                <button class="btn btn-danger file-delete"><i class="glyphicon glyphicon-trash"></i> 删除</button>
            </div>
            <br/>
            <table class="table table-bordered table-hover table-responsive table-condensed" id="file-manager-table">
                <thead>
                <tr>
                    <th>
                        <div class="pretty p-default p-curve p-thick">
                            <input type="checkbox" id="file-toggle-box" name="file" title=""
                                   onchange="toggleCheckBoxStatus('file');"/>
                            <div class="state p-info-o">
                                <label></label>
                            </div>
                        </div>
                    </th>
                    <th>编号</th>
                    <th>文件编号</th>
                    <th>用户名</th>
                    <th>本地路径</th>
                    <th>分类</th>
                    <th>链接</th>
                    <th>下载次数</th>
                    <th>上传时间</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(file,key) in files" onclick="toggleRowSelectedStatus(this);">
                    <td>
                        <div class="pretty p-default p-curve p-thick">
                            <input type="checkbox" name="file" title=""/>
                            <div class="state p-info-o">
                                <label></label>
                            </div>
                        </div>
                    </td>
                    <td class="file-index" v-bind:data-key="key">{{key+1}}</td>
                    <td>{{file.id}}</td>
                    <td>{{file.username}}</td>
                    <td><a href="javascript:" onclick="alerts($(event.srcElement).attr('data-title'));"
                           v-bind:title="file.localUrl" data-toggle="tooltip"
                           v-bind:data-title="file.localUrl">查看</a></td>
                    <td>{{file.categoryName}}</td>
                    <td><a v-bind:href="file.visitUrl" target="_blank">访问</a></td>
                    <td>{{file.downloadTimes}}</td>
                    <td>{{new Date(file.createTime).format('yyyy-MM-dd hh:mm:ss')}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <button class="btn btn-lg btn-link btn-block" onclick="offset+=1;getFile();"><b><i
                class="glyphicon glyphicon-arrow-down"></i> 获取更多</b></button>
        <br/>
    </div>
    <!--权限管理-->
    <div class="row jq-tab hide" id="auth-manager">
        <div class="col-12 col-sm-10 offset-sm-1 content-box rounded">
            <br/>
            <div class="row">
                <div class="col-sm-4 col-6">
                    <input type="text" class="form-control auth-search user-filter" placeholder="用户名或邮箱"
                           onkeyup="fileFilter();"/>
                </div>
                <div class="col-sm-4 col-6">
                    <input type="text" class="form-control auth-search file-name-filter" placeholder="文件名，模糊搜索"
                           onkeyup="fileFilter();"/>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1"><br/></div>
        <div class="col-12 col-sm-10 offset-sm-1 content-box rounded">
            <br/>
            <div class="text-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#authAddedModal"
                        onclick="authFileSearch='';"><i class="glyphicon glyphicon-flash"></i> 新增
                </button>
                <button class="btn btn-success" onclick="showFileModal('#auth-manager-table','#authEditModal');"><i
                        class="glyphicon glyphicon-edit"></i> 编辑
                </button>
                <button class="btn btn-danger auth-delete"><i class="glyphicon glyphicon-trash"></i> 删除</button>
            </div>
            <br/>
            <table class="table table-bordered table-hover table-responsive table-condensed" id="auth-manager-table">
                <thead>
                <tr>
                    <th>
                        <div class="pretty p-default p-curve p-thick">
                            <input type="checkbox" id="auth-toggle-box" name="file" title=""
                                   onchange="toggleCheckBoxStatus('auth');"/>
                            <div class="state p-info-o">
                                <label></label>
                            </div>
                        </div>
                    </th>
                    <th>编号</th>
                    <th>用户名</th>
                    <th>文件名</th>
                    <th>本地路径</th>
                    <th>下载权限</th>
                    <th>删除权限</th>
                    <th>修改权限</th>
                    <th>可见权限</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(auth,key) in auths" onclick="toggleRowSelectedStatus(this);">
                    <td>
                        <div class="pretty p-default p-curve p-thick">
                            <input type="checkbox" name="file" title=""/>
                            <div class="state p-info-o">
                                <label></label>
                            </div>
                        </div>
                    </td>
                    <td class="auth-index" v-bind:data-key="key">{{key+1}}</td>
                    <td>{{auth.username}}</td>
                    <td>{{auth.fileName}}</td>
                    <td><a href="javascript:" onclick="alerts($(event.srcElement).attr('data-title'));"
                           v-bind:title="auth.localUrl" data-toggle="tooltip"
                           v-bind:data-title="auth.localUrl">查看</a></td>
                    <td class="text-center" v-html="getIconYesOrNo(auth.isDownloadable)"></td>
                    <td class="text-center" v-html="getIconYesOrNo(auth.isDeletable)"></td>
                    <td class="text-center" v-html="getIconYesOrNo(auth.isUpdatable)"></td>
                    <td class="text-center" v-html="getIconYesOrNo(auth.isVisible)"></td>
                    <td>{{new Date(auth.createTime).format('yyyy-MM-dd hh:mm:ss')}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <button class="btn btn-lg btn-link btn-block" onclick="offset+=1;getAuth();"><b><i
                class="glyphicon glyphicon-arrow-down"></i> 获取更多</b></button>
        <br/>
    </div>
    <!--分类管理-->
    <div class="row jq-tab hide" id="category-manager">
        <div class="col-sm-3 col-12 offset-sm-1 padding-0">
            <div class="content-box rounded" style="padding: 0 1rem;">
                <br/>
                <h4 class="text-center" id="category-title">添加新分类</h4><br/>
                <input type="hidden" value="0" id="category-key"/>
                <input type="hidden" value="0" id="category-id"/>
                <input class="form-control" id="category-name" title="分类名称" placeholder="新分类名称" type="text"/>
                <br/>
                <button class="btn btn-primary btn-block" onclick="saveCategory();">保存</button>
                <br/>
            </div>
            <br/>
        </div>
        <div class="col-sm-6 offset-sm-1 col-12 content-box rounded">
            <br/>
            <table class="table table-bordered table-hover table-responsive table-condensed">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>创建时间</th>
                    <th class="text-center">动作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(category,key) in categories">
                    <td class="hide">{{key}}</td>
                    <td class="category-id">{{category.id}}</td>
                    <td class="category-name">{{category.name}}</td>
                    <td>{{new Date(category.createTime).format('yyyy-MM-dd hh:mm:ss')}}</td>
                    <td class="text-center">
                        <a onclick="editCategory();" href="javascript:">编辑</a>
                        &emsp;<a onclick="deleteCategory();" href="javascript:">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
        </div>
    </div>
    <!--用户管理-->
    <div class="row jq-tab hide" id="user-manager">
        <div class="col-12 col-sm-10 offset-sm-1 content-box rounded">
            <br/>
            <div class="row">
                <div class="col-sm-5 col-12">
                    <input type="text" class="form-control user-filter" placeholder="用户名或邮箱"
                           onkeyup="fileFilter();"/>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1"><br/></div>
        <div class="col-12 col-sm-10 offset-sm-1 content-box rounded">
            <br/>
            <div class="text-right">
                <button class="btn btn-info" onclick="showFileModal('#user-manager-table','#userFileAuthModal')"><i
                        class="glyphicon glyphicon-edit"></i> 编辑用户默认文件权限
                </button>
                <button class="btn btn-warning" onclick="showFileModal('#user-manager-table','#userAuthModal')"><i
                        class="glyphicon glyphicon-wrench"></i> 修改用户权限
                </button>
                <button class="btn btn-danger" onclick="showFileModal('#user-manager-table','#userPasswordModal');"><i
                        class="glyphicon glyphicon-warning-sign"></i> 重置用户密码
                </button>
            </div>
            <br/>
            <table class="table table-bordered table-hover table-responsive table-condensed" id="user-manager-table">
                <thead>
                <tr>
                    <th>
                        <div class="pretty p-default p-curve p-thick">
                            <input type="checkbox" id="user-toggle-box" name="file" title=""
                                   onchange="toggleCheckBoxStatus('user');"/>
                            <div class="state p-info-o">
                                <label></label>
                            </div>
                        </div>
                    </th>
                    <th>编号</th>
                    <th>头像</th>
                    <th>用户名</th>
                    <th>真实名</th>
                    <th>邮箱</th>
                    <th>权限</th>
                    <th>最近登录时间</th>
                    <th>注册时间</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(user,key) in users" onclick="toggleRowSelectedStatus(this);">
                    <td>
                        <div class="pretty p-default p-curve p-thick">
                            <input type="checkbox" name="file" title=""/>
                            <div class="state p-info-o">
                                <label></label>
                            </div>
                        </div>
                    </td>
                    <td class="user-index" v-bind:data-key="key">{{key+1}}</td>
                    <td><img v-bind:src="user.avatar ? user.avatar : '/assets/img/default-user.jpg'" width="30rem"
                             height="30rem"></td>
                    <td>{{user.username}}</td>
                    <td>{{user.realName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.permission<1?"禁止登录":(user.permission<2?"普通用户":"管理员")}}</td>
                    <td>{{new Date(user.lastLoginTime).format('yyyy-MM-dd hh:mm:ss')}}</td>
                    <td>{{new Date(user.createTime).format('yyyy-MM-dd hh:mm:ss')}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <button class="btn btn-lg btn-link btn-block" onclick="offset+=1;getUser();"><b><i
                class="glyphicon glyphicon-arrow-down"></i> 获取更多</b></button>
        <br/>
    </div>
    <!--<div class="row jq-tab hide" id="admin-manager">管理员管理</div>-->
    <!--系统设置-->
    <div class="row jq-tab hide" id="system-setting">
        <div class="col-12 col-sm-10 offset-sm-1 content-box rounded">
            <br/>
            <div class="row">
                <div class="col-12 col-sm-12 text-right">
                    <button class="btn btn-outline-info" onclick="saveConfig();"><i
                            class="glyphicon glyphicon-floppy-disk"></i> 保存
                    </button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-12 col-12" id="json-editor">
                    <textarea class="form-control" style="height: 100vh;width: 100%;" title="编辑配置文件"
                              data-toggle="tooltip"></textarea>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <div class="row text-center" id="footer"></div>
</div>
<br/>
<!--用户权限模态框-->
<div class="modal fade" id="userAuthModal" tabindex="-1" role="dialog" aria-labelledby="userAuthModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="userAuthModalLabel">重置用户密码</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <input title="用户名" type="text" class="form-control username"
                               data-toggle="tooltip"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <select class="form-control user-permission" title="用户权限" data-toggle="tooltip">
                            <option value="0">禁止登录</option>
                            <option value="1">普通用户</option>
                            <option value="2">管理员</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" onclick="rowIndex-=1;setUsername('#userAuthModal','auth');"><i
                        class="glyphicon glyphicon-arrow-left"></i> 上个
                </button>
                <button class="btn btn-outline-primary" onclick="rowIndex+=1;setUsername('#userAuthModal','auth');">下个
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
                <button type="button" class="btn btn-info" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove"></i> 关闭
                </button>
                <button type="button" class="btn btn-primary" id="user-auth-update-button"
                        style="background-color: #9b58b5;border-color: #9b58b5;"><i
                        class="glyphicon glyphicon-floppy-open"></i> 更新
                </button>
            </div>
        </div>
    </div>
</div>
<!--用户文件权限编辑模态框-->
<div class="modal fade" id="userPasswordModal" tabindex="-1" role="dialog" aria-labelledby="userPasswordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="userPasswordModalLabel">重置用户密码</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <input title="用户名" type="text" class="form-control username"
                               data-toggle="tooltip"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <input title="密码" type="text" maxlength="30" minlength="6" class="form-control user-password"
                               data-toggle="tooltip"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" onclick="rowIndex-=1;setUsername('#userPasswordModal','');"><i
                        class="glyphicon glyphicon-arrow-left"></i> 上个
                </button>
                <button class="btn btn-outline-primary" onclick="rowIndex+=1;setUsername('#userPasswordModal','');">下个
                    <i
                            class="glyphicon glyphicon-arrow-right"></i>
                </button>
                <button type="button" class="btn btn-info" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove"></i> 关闭
                </button>
                <button type="button" class="btn btn-primary" id="user-password-update-button"
                        style="background-color: #9b58b5;border-color: #9b58b5;"><i
                        class="glyphicon glyphicon-floppy-open"></i> 更新
                </button>
            </div>
        </div>
    </div>
</div>
<!--用户文件权限编辑模态框-->
<div class="modal fade" id="userFileAuthModal" tabindex="-1" role="dialog" aria-labelledby="userFileAuthModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="userFileAuthModalLabel">编辑用户默认文件权限</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <input title="用户名" type="text" class="form-control username"
                               data-toggle="tooltip"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <input title="下载权限" type="number" class="form-control user-downloadable"
                               data-toggle="tooltip"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="上传权限" type="number" class="form-control user-uploadable"
                               data-toggle="tooltip"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="删除权限" type="number" class="form-control user-deletable"
                               data-toggle="tooltip"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="编辑权限" type="number" class="form-control user-updatable"
                               data-toggle="tooltip"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" onclick="rowIndex-=1;setUserFileAuth();"><i
                        class="glyphicon glyphicon-arrow-left"></i> 上个
                </button>
                <button class="btn btn-outline-primary" onclick="rowIndex+=1;setUserFileAuth();">下个 <i
                        class="glyphicon glyphicon-arrow-right"></i>
                </button>
                <button type="button" class="btn btn-info" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove"></i> 关闭
                </button>
                <button type="button" class="btn btn-primary" id="user-file-auth-update-button"
                        style="background-color: #9b58b5;border-color: #9b58b5;"><i
                        class="glyphicon glyphicon-floppy-open"></i> 更新
                </button>
            </div>
        </div>
    </div>
</div>
<!--文件共享模态框-->
<div class="modal fade" id="fileAddedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">共享服务器本地文件</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="height: 25rem;overflow: auto;">
                <div class="row">
                    <div class="col-sm-7 col-7">
                        <input type="text" class="form-control" placeholder="选择路径" id="select-url"/>
                        <br/>
                        <div id="server-file-list">
                            <ul class="list-group" id="server-file-list-group"></ul>
                        </div>
                    </div>
                    <div class="col-sm-5 col-5">
                        <input type="text" class="form-control" placeholder="链接前缀，支持规则" id="link-prefix">
                        <br/>
                        <div id="selected-file-list">
                            <ul class="list-group" id="selected-file-list-group"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:" class="text-primary server-path-return"><i
                        class="glyphicon glyphicon-chevron-left"></i> 返回上级</a>
                <div class="pretty p-default p-curve p-thick">
                    <input type="checkbox" id="share-all-file" placeholder="共享文件夹下所有文件"/>
                    <div class="state p-info-o text-dark">
                        <label>共享文件夹下所有文件（不递归）</label>
                    </div>
                </div>
                <button type="button" class="btn btn-info" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove"></i> 关闭
                </button>
                <button type="button" class="btn btn-primary" id="server-file-share-button"
                        style="background-color: #9b58b5;border-color: #9b58b5;"><i
                        class="glyphicon glyphicon-send"></i> 共享文件
                </button>
            </div>
        </div>
    </div>
</div>
<!--文件修改模态框-->
<div class="modal fade" id="fileModifiedModal" tabindex="-1" role="dialog" aria-labelledby="modifiedModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="modifiedModalLabel">修改文件路径（包括文件名）</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="file-id" value="0">
                    <div class="col-sm-12 col-12">
                        <input title="原本地路径" type="text" class="form-control" id="old-file-local-url" disabled
                               data-toggle="tooltip"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <input title="新本地路径" type="text" class="form-control" id="new-file-local-url"
                               data-toggle="tooltip"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <input title="原访问链接" type="text" class="form-control" id="old-file-visit-url" disabled
                               data-toggle="tooltip"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <input title="新访问链接" type="text" class="form-control" id="new-file-visit-url"
                               data-toggle="tooltip"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" onclick="rowIndex-=1;setModifyFile();"><i
                        class="glyphicon glyphicon-arrow-left"></i> 上个
                </button>
                <button class="btn btn-outline-primary" onclick="rowIndex+=1;setModifyFile();">下个 <i
                        class="glyphicon glyphicon-arrow-right"></i>
                </button>
                <button type="button" class="btn btn-info" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove"></i> 关闭
                </button>
                <button type="button" class="btn btn-primary" id="file-modify-button"
                        style="background-color: #9b58b5;border-color: #9b58b5;"><i
                        class="glyphicon glyphicon-floppy-open"></i> 更新
                </button>
            </div>
        </div>
    </div>
</div>
<!--文件权限模态框-->
<div class="modal fade" id="fileAuthModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="authModalLabel">编辑文件权限</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="file-auth-id" value="0">
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <input title="文件本地路径" type="text" class="form-control" id="file-local-url"
                               data-toggle="tooltip"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <input title="下载权限" type="number" class="form-control" id="file-downloadable-auth"
                               data-toggle="tooltip"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="删除权限" type="number" class="form-control" id="file-deletable-auth"
                               data-toggle="tooltip"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="编辑权限" type="number" class="form-control" id="file-updatable-auth"
                               data-toggle="tooltip"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="可见权限" type="number" class="form-control" id="file-visible-auth"
                               data-toggle="tooltip"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" onclick="rowIndex-=1;setFileAuth();"><i
                        class="glyphicon glyphicon-arrow-left"></i> 上个
                </button>
                <button class="btn btn-outline-primary" onclick="rowIndex+=1;setFileAuth();">下个 <i
                        class="glyphicon glyphicon-arrow-right"></i>
                </button>
                <button type="button" class="btn btn-info" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove"></i> 关闭
                </button>
                <button type="button" class="btn btn-primary" id="file-auth-update-button"
                        style="background-color: #9b58b5;border-color: #9b58b5;"><i
                        class="glyphicon glyphicon-floppy-open"></i> 更新
                </button>
            </div>
        </div>
    </div>
</div>
<!--权限编辑模态框-->
<div class="modal fade" id="authEditModal" tabindex="-1" role="dialog" aria-labelledby="authEditModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="authEditModalLabel">编辑文件权限</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="auth-id" value="0">
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <input title="用户名" type="text" class="form-control" id="auth-username"
                               data-toggle="tooltip"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <input title="文件本地路径" type="text" class="form-control" id="auth-file-local-url"
                               data-toggle="tooltip"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <input title="下载权限" type="number" class="form-control" id="auth-downloadable"
                               data-toggle="tooltip"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="删除权限" type="number" class="form-control" id="auth-deletable"
                               data-toggle="tooltip"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="编辑权限" type="number" class="form-control" id="auth-updatable"
                               data-toggle="tooltip"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="可见权限" type="number" class="form-control" id="auth-visible"
                               data-toggle="tooltip"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" onclick="rowIndex-=1;setAuth();"><i
                        class="glyphicon glyphicon-arrow-left"></i> 上个
                </button>
                <button class="btn btn-outline-primary" onclick="rowIndex+=1;setAuth();">下个 <i
                        class="glyphicon glyphicon-arrow-right"></i>
                </button>
                <button type="button" class="btn btn-info" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove"></i> 关闭
                </button>
                <button type="button" class="btn btn-primary" id="auth-update-button"
                        style="background-color: #9b58b5;border-color: #9b58b5;"><i
                        class="glyphicon glyphicon-floppy-open"></i> 更新
                </button>
            </div>
        </div>
    </div>
</div>
<!--文件共享模态框-->
<div class="modal fade" id="authAddedModal" tabindex="-1" role="dialog" aria-labelledby="authAddedModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="authAddedModalLabel">添加权限记录</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" style="height: 10rem;overflow: auto;">
                    <div class="col-sm-12 col-12">
                        <input type="text" class="form-control" v-on:keyup.enter="searchFileInAuth"
                               placeholder="通过本地路径搜索文件（模糊搜索）" id="auth-file-search"/>
                        <br/>
                        <div id="auth-file-list">
                            <ul class="list-group" id="auth-file-list-group"></ul>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row" style="height: 10rem;overflow: auto;">
                    <div class="col-sm-12 col-12">
                        <input type="text" class="form-control" v-on:keyup.enter="searchUserInAuth" placeholder="搜索用户"
                               id="auth-user-search"/>
                        <br/>
                        <div id="auth-user-list">
                            <ul class="list-group" id="auth-user-list-group"></ul>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <input title="下载权限" type="number" class="form-control" id="auth-downloadable-new"
                               data-toggle="tooltip" value="1"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="删除权限" type="number" class="form-control" id="auth-deletable-new"
                               data-toggle="tooltip" value="0"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="编辑权限" type="number" class="form-control" id="auth-updatable-new"
                               data-toggle="tooltip" value="0"/>
                    </div>
                    <div class="col-sm-3 col-6">
                        <input title="可见权限" type="number" class="form-control" id="auth-visible-new"
                               data-toggle="tooltip" value="1"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove"></i> 关闭
                </button>
                <button type="button" class="btn btn-primary" id="auth-add-button"
                        style="background-color: #9b58b5;border-color: #9b58b5;"><i
                        class="glyphicon glyphicon-asterisk"></i> 添加权限记录
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/particles.js"></script>
<script src="/assets/js/default.js"></script>
<script src="/assets/js/admin.js"></script>
</body>
</html>