@charset "utf-8";
/* 以下实际使用若已初始化可删除 .jq-nav height父级需逐级设置为100%*/

body, ul {
    margin: 0;
    padding: 0
}

body {
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none
}

a {
    text-decoration: none;
}

/* 以上实际使用若已初始化可删除 */

/* nav */
.jq-nav {
    width: 220px;
    height: 100%;
    background: #263238;
    transition: all .3s;
}

.jq-nav a {
    display: block;
    overflow: hidden;
    padding-left: 20px;
    line-height: 46px;
    max-height: 46px;
    color: #ABB1B7;
    transition: all .3s;
}

.jq-nav a span {
    margin-left: 30px;
}

.jq-nav-item {
    position: relative;
}

.jq-nav-item.jq-nav-show {
    border-bottom: none;
}

.jq-nav-item ul {
    display: none;
    background: rgba(0, 0, 0, .1);
}

.jq-nav-item.jq-nav-show ul {
    display: block;
}

.jq-nav-item > a:before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 46px;
    background: #34A0CE;
    opacity: 0;
    transition: all .3s;
}

.jq-nav .jq-nav-icon {
    font-size: 20px;
    position: absolute;
    margin-left: -1px;
}

/* 此处修改导航图标 可自定义iconfont 替换*/
.icon_1::after {
    content: "\e62b";
}

.icon_2::after {
    content: "\e669";
}

.icon_3::after {
    content: "\e61d";
}

/*---------------------*/
.jq-nav-more {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    transition: transform .3s;
}

/* 此处为导航右侧箭头 如果自定义iconfont 也需要替换*/
.jq-nav-more::after {
    content: "\e621";
}

/*---------------------*/
.jq-nav-show .jq-nav-more {
    transform: rotate(90deg);
}

.jq-nav-show, .jq-nav-item > a:hover {
    color: #FFF;
    background: rgba(0, 0, 0, .1);
}

.jq-nav-show > a:before, .jq-nav-item > a:hover:before {
    opacity: 1;
}

.jq-nav-item li:hover a {
    color: #FFF;
    background: rgba(0, 0, 0, .1);
}

/* nav-mini */
.jq-nav-mini.jq-nav {
    width: 60px;
}

.jq-nav-mini.jq-nav .jq-nav-icon { /* margin-left:-2px; */
}

.jq-nav-mini.jq-nav .jq-nav-item > a span {
    display: none;
}

.jq-nav-mini.jq-nav .jq-nav-more {
    margin-right: -20px;
}

.jq-nav-mini.jq-nav .jq-nav-item ul {
    position: absolute;
    top: 0;
    left: 60px;
    width: 180px;
    z-index: 99;
    background: #3C474C;
    overflow: hidden;
}

.jq-nav-mini.jq-nav .jq-nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

.jq-nav-mini.jq-nav .jq-nav-item:hover .jq-nav-item a {
    color: #FFF;
}

.jq-nav-mini.jq-nav .jq-nav-item:hover a:before {
    opacity: 1;
}

.jq-nav-mini.jq-nav .jq-nav-item:hover ul {
    display: block;
}





