html, body {
    background-size: cover;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
    min-height: 100vh;
}

.avatar {
    height: 4rem;
    width: 4rem;
}

.content-box {
    background: white;
    z-index: 1;
}

.center-vertical {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    bottom: 3rem;
    height: auto;
    margin: auto;
}

.padding-0 {
    padding: 0;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-top-1 {
    padding-top: 1%;
}

.padding-top-3 {
    padding-top: 3%;
}

.padding-right-0 {
    padding-right: 0;
}

.bottom {
    position: relative;
    left: 0;
    right: 0;
    bottom: 4rem;
    height: auto;
    margin: auto;
}

.text-justify-all {
    text-align: justify;
    text-align-last: justify;
}

.show {
    display: block;
}

.hide {
    display: none;
}